main { width: 1440px; } 

/* About */
main video { object-fit: fill; opacity: 0.15; width: 1440px; height: 800px; margin-top: 92px; } 
main .background { position: relative; } 
main .background .title { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 76px; font-weight: 900; text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); line-height: 90px; text-align: center; } 
main .background .title span:first-child { color: #A9A9A9; } 