main { width: 1440px; position: relative; } 

/* About */
main .background { position: relative; height: 892px; } 
main .background img { object-fit: fill; opacity: 0.15; width: 1440px; height: 800px; margin-top: 92px; } 
main .background .title { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 76px; font-weight: 900; text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); line-height: 90px; text-align: center; width: 1440px; } 
main .background .title span:first-child { color: #A9A9A9; } 

.fade-in-out { animation: fadeInOut 5s ease-in-out infinite; } 

@keyframes fadeInOut { 
 0% { opacity: 0; } 
 25% { opacity: 1; } 
 75% { opacity: 1; } 
 100% { opacity: 0; } 
 }

main .scroll-down { display: flex; align-items: center; flex-direction: column; padding: 48px 0 144px 0; } 
main .scroll-down p { margin-bottom: 16px; font-weight: 300; } 
main .profile { height: 612px; padding: 0 136px 160px 92px; display: flex; justify-content: space-between; } 
main .left-side { width: 500px; padding-top: 52px; position: relative; } 
main .left-side p { position: relative; z-index: 200; } 
main .left-side p:first-child { font-size: 24px; line-height: 32px; color: #c8c8c8; } 
main .left-side p:nth-child(2) { font-size: 76px; line-height: 84px; margin: 20px 0 40px; } 
main .left-side span { font-weight: 700; } 
main .left-side p:last-child { font-size: 20px; line-height: 28px; white-space: pre-line; } 
main .left-side::after { position: absolute; content: ''; width: 400px; height: 400px; left: -92px; bottom: -30px; background: linear-gradient(180deg, #180C96 0%, #D21010 0%, #A90EAB 0.01%, rgba(24, 12, 150, 0.989682) 0.02%, rgba(74, 11, 157, 0.757877) 29.17%, rgba(169, 14, 171, 0.551652) 56.25%, rgba(180, 117, 172, 0.257781) 83.33%, rgba(255, 255, 255, 0) 100%); filter: blur(40px); border-radius: 50%; } 
main .right-side { width: 505px; position: relative; } 
main .right-side span { position: absolute; font-size: 32px; opacity: 0.3; font-family: 'Russo One'; line-height: 32px; } 
main .right-side .str1 { top: 35px; left: -19px; } 
main .right-side .str2 { top: 132px; left: -149px; } 
main .right-side .str3 { top: 35px; right: 48px; } 
main .right-side .str4 { top: 132px; right: -29px; } 
main .right-side .cv-box { position: absolute; left: 168px; bottom: 172px; width: 160px; height: 72px; background-color: rgba(0, 0, 0, 0.44); border-radius: 500px; display: flex; align-items: center; justify-content: center; cursor: pointer; } 
main .right-side .cv-box:hover { box-shadow: inset 0px 8px 4px rgba(0, 0, 0, 0.25); } 
main .right-side .cv-box span { position: unset; opacity: unset; font-size: 28px; margin-right: 8px; line-height: 28px; } 
main .about { background-color: white; padding: 64px 92px 92px; } 
main .about p { color: #333; } 
main .about .title { font-size: 32px; margin-bottom: 48px; line-height: 32px; } 
main .about .sub-title { margin-bottom: 40px; position: relative; display: flex; align-items: center; justify-content: space-between; } 
main .about .sub-title::after { position: absolute; content: ''; width: 100%; height: 1px; background-color: #dadada; bottom: -16px; left: 0; } 
main .about .sub-title p { font-size: 24px; font-weight: 700; line-height: 24px; } 
main .about .sub-title a { color: #737373; } 
main .about .sub-title a:hover { color: #545454; } 
main .link-box-group { display: flex; justify-content: space-between; flex-wrap: wrap; } 
main .work-exp-group { margin-left: 26px; padding-left: 24px; position: relative; border-left: 1px dashed #d5d5d5; } 

.link-box { width: 260px; display: flex; align-items: center; margin-bottom: 24px; } 
.link-box figure { margin: 0 12px 0 0; display: flex; align-items: center; justify-content: center; } 
.link-box span { color: #333; font-weight: 700; } 
.link-box .no-bold { font-weight: unset; margin-left: 4px; } 
.link-box a { margin-left: 8px; height: 16px; } 

.work-edu-box:not(:first-child) { margin-top: 52px; } 
.work-edu-box .date-line { display: flex; align-items: center; } 
.work-edu-box .date-line .tooltip { height: 14px; margin-left: 8px; position: relative; } 
.work-edu-box .date-line .tooltip:hover .tooltip-desc { visibility: visible; } 
.work-edu-box .date-line .tooltip .tooltip-desc::before { position: absolute; content: ''; width: 0; height: 0; left: -6px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 7px solid #818181; } 
.work-edu-box .date-line .tooltip .tooltip-desc { position: absolute; top: -8px; left: 28px; display: flex; align-items: center; justify-content: center; background-color: #818181; border-radius: 5px; visibility: hidden; } 
.work-edu-box .date-line .tooltip .tooltip-container { padding: 8px; white-space: nowrap; } 
.work-edu-box .date-line .tooltip .tooltip-desc p { font-size: 12px; color: white; } 
.work-edu-box .name { font-size: 20px; line-height: 24px; margin: 16px 0 12px; font-weight: 700; position: relative; display: flex; align-items: center; } 
.work-edu-box .name::before { position: absolute; content: ''; width: 16px; height: 16px; background-color: #710bf2; border-radius: 50%; left: -32px; top: 5px; } 
.work-edu-box a { margin-left: 8px; display: flex; align-items: center; } 
.work-edu-box .description { line-height: 32px; white-space: pre-line; } 

main .skill { padding: 64px 92px 92px; } 
main .skill .title { font-size: 32px; margin-bottom: 48px; line-height: 32px; } 
main .skill .sub-title { font-size: 24px; font-weight: 700; margin-bottom: 40px; position: relative; line-height: 24px; display: flex; align-items: center; } 
main .skill .sub-title::after { position: absolute; content: ''; width: 100%; height: 1px; background-color: #3d3d3d; bottom: -16px; left: 0; } 
main .skill .sub-title span { margin-right: 8px; } 
main .skill .skill-group { display: flex; align-items: center; justify-content: space-between; } 

.skill-box { background: rgba(41, 41, 41, 0.8); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; width: 120px; display: flex; align-items: center; flex-direction: column; padding: 24px 0; } 
.skill-box:hover { background: rgba(51, 103, 181, 0.8); box-shadow: inset 0px 16px 16px rgba(0, 0, 0, 0.25); } 
.skill-box p { font-weight: 700; line-height: 20px; margin-top: 16px; } 

main .project { padding: 64px 92px 44px; background-color: #eee; } 
main .project p { color: #333; } 
main .project .title { font-size: 32px; margin-bottom: 24px; line-height: 32px; } 
main .project .description { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #d1d1d1; padding-bottom: 16px; margin-bottom: 48px; } 
main .project a { color: #737373; } 
main .project a:hover { color: #545454; } 

.project-box { padding: 8px 32px 8px 16px; border: 1px solid #c3c3c3; border-radius: 10px; background-color: white; display: flex; margin-bottom: 48px; } 
.project-box .thumbnail-container { display: flex; align-items: center; } 
.project-box .thumbnail { margin-right: 44px; } 
.project-box .content { padding-top: 20px; } 
.project-box .content .title { font-size: 20px; line-height: 32px; margin-bottom: 12px; font-weight: 700; } 
.project-box .content .label-line { display: flex; align-items: center; margin-bottom: 20px; } 
.project-box .content .label-line .label { padding: 4px 12px; border-radius: 5px; background-color: #6a6a6a; margin-right: 12px; } 
.project-box .content .label-line .label p { font-size: 12px; font-weight: 700; color: white; } 
.project-box .content .main-cont { line-height: 20px; margin-bottom: 16px; } 
.project-box .content .main-cont span { font-weight: 700; } 
.project-box .content .cont-desc { line-height: 24px; padding-bottom: 20px; } 

main .footer { text-align: center; padding: 112px 0 92px; } 
main .footer p:first-child { font-size: 20px; line-height: 28px; margin-bottom: 36px; } 
main .footer p:first-child a { font-weight: 700; color: #f87070; cursor: pointer; } 
main .footer p:first-child a:hover { color: #ee5555; } 
main .footer p:nth-child(2) { font-size: 24px; line-height: 28px; font-weight: 700; margin-bottom: 88px; } 
main .footer p:nth-child(3) { line-height: 24px; margin-bottom: 24px; color: #c5c5c5; } 
main .footer p:last-child { line-height: 24px; } 

/* Snapshot */
main .snapshot-container { margin-top: 92px; padding: 76px 0 92px; display: flex; flex-direction: column; align-items: center; } 
main .snapshot-container .intro-box { border-top: 1px solid #3e3e3e; border-bottom: 1px solid #3e3e3e; width: 600px; padding: 60px 0; display: flex; align-items: center; flex-direction: column; } 
main .snapshot-container .intro-box p { font-size: 20px; line-height: 20px; } 
main .snapshot-container .intro-box p:first-child { margin-bottom: 48px; } 
main .snapshot-container .intro-box p:last-child { font-weight: 700; } 
main .snapshot-container .category { padding: 64px 92px 44px; margin-top: 112px; background-color: white; display: flex; flex-direction: column; align-items: center; } 
main .snapshot-container .category p { color: #333333; width: 100%; text-align: center; } 
main .snapshot-container .category .title { font-size: 28px; margin-bottom: 48px; line-height: 28px; } 
main .snapshot-container .item-group { display: flex; flex-wrap: wrap; justify-content: space-between; } 

.category-item-box { position: relative; width: 280px; border-radius: 20px; margin-bottom: 48px; display: flex; align-items: center; flex-direction: column; padding: 56px 0 48px; background-color: #f2f2f2; } 
.category-item-box.active:hover { background: rgba(226, 226, 226, 0.8); box-shadow: inset 0px 8px 4px rgba(0, 0, 0, 0.25); } 
.category-item-box p { font-size: 18px; line-height: 24px; margin-top: 32px; font-weight: 700; } 
.blank-category-item-box { width: 280px; height: 220px; } 
.not-ready { position: absolute; width: 280px; height: 32px; border-radius: 0 0 20px 20px; bottom: 0; background-color: rgba(86, 123, 255, 0.6); display: flex; align-items: center; justify-content: center; } 
.not-ready span { font-size: 12px; font-weight: 700; color: white; } 

/* Snapshot - Common */
.snapshot-container .common-top-box { border-top: 1px solid #3e3e3e; border-bottom: 1px solid #3e3e3e; width: 600px; padding: 60px 0; display: flex; align-items: center; flex-direction: column; } 
.snapshot-container .common-top-box p { font-size: 20px; line-height: 20px; } 
.snapshot-container .common-top-box p:first-child { font-weight: 700; margin-bottom: 48px; } 
.snapshot-container .common-container { background-color: white; padding: 92px; margin-top: 120px; display: flex; flex-direction: column; align-items: center; } 

/* Snapshot - Profile */
.profile-container { display: flex; justify-content: center; margin-top: 98px; padding-bottom: 92px; } 
.profile-container .profile-box { position: relative; min-width: 590px; display: flex; flex-direction: column; align-items: center; border: 7px solid #710bf2; border-radius: 20px; padding-bottom: 20px; background-color: #710bf2; } 
.profile-container .profile-box .upper-box { width: 100%; background-color: #710bf2; text-align: center; padding: 88px 0 32px; } 
.profile-container .profile-box .upper-box p { font-size: 20px; line-height: 20px; font-weight: 700; } 
.profile-container .profile-box .img-container { position: absolute; top: -111px; width: 182px; height: 182px; border-radius: 50%; background-color: #710bf2; display: flex; align-items: center; justify-content: center; } 
.profile-container .profile-box table { min-width: 590px; border-top: 0.5px solid #8d8d8d; } 
.profile-container .profile-box table tr { height: 56px; } 
.profile-container .profile-box table th { width: 216px; background-color: #710bf2; border-bottom: 0.5px solid #8d8d8d; } 
.profile-container .profile-box table td { width: calc(100% - 216px); white-space: pre-line; line-height: 24px; background-color: #272a2d; padding: 16px 20px; border-bottom: 0.5px solid #8d8d8d; } 

/* Snapshot - School */
.school-banner { width: 100%; width: 1256px; height: 220px; display: flex; align-items: center; justify-content: space-between; position: relative; transition: margin-bottom 0.3s ease; } 
.school-banner p { margin-right: 80px; display: flex; align-items: flex-end; flex-direction: column; } 
.school-banner span { color: white; } 
.school-banner span:first-child { font-size: 28px; font-weight: 700; line-height: 32px; margin-bottom: 8px; } 
.school-banner span:last-child { font-size: 24px; line-height: 28px; } 
.school-banner .school-banner-menu { position: absolute; height: 68px; box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25); bottom: -68px; width: 1256px; display: flex; align-items: center; justify-content: center; } 
.school-banner .school-banner-menu button { font-size: 16px; line-height: 16px; font-weight: 700; color: white; border: 0; margin-right: 60px; background-color: transparent; cursor: pointer; } 
.school-banner .school-banner-menu button:hover { text-decoration: underline; } 
.school-banner .school-banner-menu a { font-size: 16px; line-height: 16px; font-weight: 700; color: white; } 
.school-banner .school-banner-menu a:not(:last-child) { margin-right: 60px; } 
.school-banner .school-banner-menu a:hover { text-decoration: underline; } 

/* Snapshot - School - Grade */
.gpa-line { display: flex; align-items: center; } 
.gpa-line .gpa-container { width: 267px; height: 203px; background-color: #f7f7f7; border: 2px solid #b4b4b4; box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25); display: flex; align-items: center; flex-direction: column; border-radius: 50%; padding-top: 56px; } 
.gpa-line .gpa-container:first-child { margin-right: 140px; } 
.gpa-line .gpa-container p:first-child { font-size: 20px; line-height: 20px; color: #707070; font-weight: 700; margin-bottom: 32px; } 
.gpa-line .gpa-container p:nth-child(2) { font-size: 32px; line-height: 32px; color: #333333; font-weight: 700; margin-bottom: 16px; } 
.gpa-line .gpa-container p:nth-child(2) span { color: #a8a8a8; } 
.gpa-line .gpa-container p:nth-child(3) { font-size: 20px; line-height: 20px; color: #a8a8a8; font-weight: 700; margin-bottom: 24px; } 
.gpa-line .gpa-container img { cursor: pointer; } 

.grade-container { margin-top: 92px; } 
.grade-container .tab-line { display: flex; align-items: center; justify-content: space-between; width: 1256px; margin-bottom: 20px; } 
.grade-container .tab-line .each-tab { height: 60px; background-color: #e4e4e4; border: 0; cursor: pointer; } 
.grade-container .tab-line .each-tab p { font-weight: 700; font-size: 18px; line-height: 18px; color: #a8a8a8; text-align: center; } 
.grade-container .tab-line .each-tab:first-child { border-top-left-radius: 10px; } 
.grade-container .tab-line .each-tab:last-child { border-top-right-radius: 10px; } 
.grade-container .tab-line .each-tab.active { background-color: #710bf2; } 
.grade-container .tab-line .each-tab.active p { font-weight: 700; font-size: 18px; line-height: 18px; color: white; text-align: center; } 
.grade-container .table-header-line { display: flex; align-items: center; justify-content: space-between; width: 1256px; background-color: #e9e9e9; height: 60px; } 
.grade-container .table-header-line th { text-align: center; width: 180px; color: #868686; font-weight: 700; padding: 0 20px; } 
.grade-container .table-header-line th:first-child { width: 500px; } 
.grade-container .each-table-row { height: 60px; border-bottom: 1px solid #cdcdcd; display: flex; align-items: center; justify-content: space-between; } 
.grade-container .each-table-row td { color: #333333; width: 180px; text-align: center; padding: 0 20px; } 
.grade-container .each-table-row td:first-child { width: 500px; } 
.grade-container .each-table-row td.left { text-align: left; } 

/* Snapshot - Certification */
.certification-table-header-line { display: flex; align-items: center; justify-content: space-between; width: 1256px; background-color: #e9e9e9; height: 60px; } 
.certification-table-header-line th { text-align: center; width: 280px; color: #868686; font-weight: 700; padding: 0 20px; } 
.certification-table-header-line th:nth-child(2) { width: 300px; } 
.certification-table-header-line th:nth-child(3) { width: 160px; } 
.certification-table-header-line th:nth-child(4) { width: 240px; white-space: pre-line; } 
.certification-table-header-line th:last-child { width: 50px; } 
.certification-each-table-row { height: 60px; border-bottom: 1px solid #cdcdcd; display: flex; align-items: center; justify-content: space-between; } 
.certification-each-table-row td { color: #333333; width: 280px; text-align: center; padding: 0 20px; } 
.certification-each-table-row td:nth-child(2) { width: 300px; } 
.certification-each-table-row td:nth-child(3) { width: 160px; } 
.certification-each-table-row td:nth-child(4) { width: 240px; } 
.certification-each-table-row td:last-child { width: 50px; display: flex; align-items: center; justify-content: center; } 
.certification-each-table-row td:last-child img { cursor: pointer; } 
.certification-each-table-row td.left { text-align: left; } 
.certification-each-table-row td.no-data { width: 1256px; text-align: center; padding: 0; } 
.certification-no-data-button { width: 1256px; height: 60px; background-color: rgba(86, 123, 255, 0.1); display: flex; align-items: center; justify-content: center; margin-top: 16px; cursor: pointer; } 
.certification-no-data-button span { font-size: 18px; line-height: 18px; color: #3d68ff; font-weight: 700; margin-right: 12px; } 

.certification-title { margin-top: 112px; font-size: 32px; line-height: 32px; margin-bottom: 28px; color: #333333; } 
.certification-subTitle { font-size: 18px; line-height: 18px; color: #333333; margin-bottom: 64px; } 

/* Snapshot - Military */
.military-table-header-line { display: flex; align-items: center; justify-content: space-between; width: 1256px; background-color: #e9e9e9; height: 60px; } 
.military-table-header-line th { text-align: center; width: 220px; color: #868686; font-weight: 700; padding: 0 20px; } 
.military-table-header-line th:nth-child(2) { width: 520px; } 
.military-table-header-line th:nth-child(3) { width: 160px; } 
.military-table-header-line th:nth-child(4) { width: 160px; } 
.military-each-table-row { height: 60px; border-bottom: 1px solid #cdcdcd; display: flex; align-items: center; justify-content: space-between; } 
.military-each-table-row td { color: #333333; width: 220px; text-align: center; padding: 0 20px; } 
.military-each-table-row td:nth-child(2) { width: 520px; } 
.military-each-table-row td:nth-child(3) { width: 160px; } 
.military-each-table-row td:nth-child(4) { width: 160px; } 
.military-each-table-row td.left { text-align: left; } 

.military-title { margin-top: 112px; font-size: 32px; line-height: 32px; margin-bottom: 46px; color: #333333; } 
.military-description { font-size: 18px; color: #333333; line-height: 32px; white-space: pre-line; text-align: center; } 

/* Timeline */
main .timeline-container { height: calc(100vh - 92px); margin-top: 92px; display: flex; align-items: center; justify-content: center; } 
main .timeline-container p { font-size: 18px; } 

@media (max-width: 500px) { main { min-width: 280px; width: 100vw; } 

/* About */
main .background { height: 486px; } 
main .background img { object-fit: cover; opacity: 0.15; width: 100%; height: 434px; margin-top: 52px; } 
main .background .title { font-size: 24px; line-height: 29px; width: 100%; } 

main .scroll-down { padding: 28px 0 56px 0; } 
main .scroll-down p { font-size: 10px; margin-bottom: 8px; line-height: 10px; } 
main .scroll-down img { width: 12px; height: 12px; } 
main .profile { height: auto; padding: 0 28px; display: flex; justify-content: space-between; flex-direction: column; } 
main .left-side { width: 100%; padding: 0; } 
main .left-side p { font-size: 12px; line-height: 12px; } 
main .left-side p:first-child { font-size: 12px; line-height: 12px; } 
main .left-side p:nth-child(2) { font-size: 32px; line-height: 32px; margin: 16px 0 20px; } 
main .left-side span { font-weight: 700; font-size: 12px; line-height: 16px; } 
main .left-side p:last-child { font-size: 12px; line-height: 16px; } 
main .left-side::after { width: 198px; height: 175.5px; left: -50px; bottom: -40px; } 
main .right-side { width: 100%; margin-top: 83px; padding-bottom: 48px; display: flex; justify-content: center; } 
main .right-side span { font-size: 16px; line-height: 16px; } 
main .right-side .str1 { top: 16px; left: 32px; } 
main .right-side .str2 { top: 56px; left: 6px; } 
main .right-side .str3 { top: 16px; right: 76px; } 
main .right-side .str4 { top: 56px; right: 48px; } 
main .right-side img:first-child { width: 235px; height: 285px; } 
main .right-side .cv-box { left: calc(50% - 5px); bottom: 126px; width: 70px; height: 32px; transform: translateX(-50%); } 
main .right-side .cv-box span { font-size: 12px; margin-right: 4px; line-height: 12px; } 
main .right-side .cv-box img { width: 12px; height: 12px; } 
main .about { padding: 28px 28px 48px; } 
main .about .title { font-size: 20px; margin-bottom: 28px; line-height: 20px; } 
main .about .sub-title { margin-bottom: 23px; } 
main .about .sub-title::after { bottom: -8px; } 
main .about .sub-title p { font-size: 12px; line-height: 12px; } 
main .about .sub-title a { font-size: 10px; line-height: 12px; } 
main .work-exp-group { margin-left: 8px; padding-left: 14px; } 

.link-box { width: 50%; display: flex; align-items: center; margin-bottom: 16px; } 
.link-box figure { margin: 0 8px 0 0; } 
.link-box figure img { width: 12px; height: 12px; } 
.link-box span { font-size: 10px; line-height: 12px; } 
.link-box a { margin-left: 6px; height: 10px; line-height: 12px; display: flex; align-items: center; } 
.link-box a img { width: 10px; height: 10px; } 

.work-edu-box:not(:first-child) { margin-top: 32px; } 
.work-edu-box .date-line p { font-size: 10px; line-height: 10px; } 
.work-edu-box .date-line .tooltip { height: 10px; margin-left: 4px; line-height: 10px; display: flex; align-items: center; } 
.work-edu-box .date-line .tooltip img { height: 8px; width: 8px; } 
.work-edu-box .date-line .tooltip .tooltip-desc::before { top: -9px; left: 61px; border-left: 3px solid transparent; border-right: 3px solid transparent; border-bottom: 5px solid #818181; } 
.work-edu-box .date-line .tooltip .tooltip-desc { position: absolute; top: 16px; left: -60px; border-radius: 5px; z-index: 200; } 
.work-edu-box .date-line .tooltip .tooltip-container { padding: 5px 6px; } 
.work-edu-box .date-line .tooltip .tooltip-desc p { font-size: 8px; line-height: 8px; } 
.work-edu-box .name { font-size: 12px; line-height: 12px; margin: 12px 0; word-break: break-all; } 
.work-edu-box .name::before { width: 12px; height: 12px; left: -20px; top: 0px; } 
.work-edu-box a { margin-left: 6px; } 
.work-edu-box a img { width: 10px; height: 10px; line-height: 12px; } 
.work-edu-box .description { font-size: 10px; line-height: 20px; } 

main .skill { padding: 28px 28px 32px; } 
main .skill .title { font-size: 20px; line-height: 20px; margin-bottom: 28px; } 
main .skill .sub-title { font-size: 12px; margin-bottom: 24px; line-height: 12px; } 
main .skill .sub-title::after { bottom: -8px; } 
main .skill .sub-title span { margin-right: 4px; } 
main .skill .sub-title img { width: 12px; height: 12px; } 
main .skill .skill-group { display: grid; grid-template-columns: 1fr 1fr 1fr; } 
main .skill .skill-group > :nth-of-type(3n + 2) { justify-self: center; } 
main .skill .skill-group > :nth-of-type(3n + 3) { justify-self: end; } 

.skill-box { border-radius: 12px; width: 80px; height: 80px; padding: 0; margin-bottom: 16px; display: flex; align-items: center; justify-content: center; } 
.skill-box img { height: 24px; } 
.skill-box p { font-size: 10px; line-height: 10px; margin-top: 12px; } 

main .project { padding: 28px 28px 20px; } 
main .project .title { font-size: 20px; margin-bottom: 16px; line-height: 20px; } 
main .project .description { font-size: 10px; line-height: 10px; padding-bottom: 8px; margin-bottom: 16px; } 
main .project a { font-size: 10px; line-height: 10px; } 

.project-box { padding: 10px 12px 16px 12px; margin-bottom: 28px; flex-wrap: wrap; } 
.project-box .thumbnail-container { width: 100%; } 
.project-box .thumbnail-container img { width: 100%; height: auto; } 
.project-box .thumbnail { margin: 0; height: auto; } 
.project-box .content { padding-top: 20px; position: relative; width: 100%; } 
.project-box .content::before { position: absolute; content: ''; height: 1px; width: calc(100vw - 58px); background-color: #eaeaea; left: -12px; top: 8px; } 
.project-box .content .title { font-size: 12px; line-height: 12px; margin-bottom: 8px; } 
.project-box .content .label-line { display: flex; align-items: center; width: 100%; overflow-y: scroll; margin-bottom: 12px; } 
.project-box .content .label-line .label { padding: 0px 6px; border-radius: 5px; margin-right: 6px; white-space: nowrap; } 
.project-box .content .label-line .label p { font-size: 8px; line-height: 16px; } 
.project-box .content .main-cont { font-size: 10px; line-height: 16px; margin-bottom: 12px; } 
.project-box .content .main-cont span { line-height: 16px; } 
.project-box .content .cont-desc { font-size: 10px; line-height: 16px; padding-bottom: 0; } 

main .footer { text-align: center; padding: 48px 0 52px; } 
main .footer p:first-child { font-size: 10px; line-height: 10px; margin-bottom: 24px; } 
main .footer p:first-child a { line-height: 10px; } 
main .footer p:nth-child(2) { font-size: 12px; line-height: 12px; margin-bottom: 42px; } 
main .footer p:nth-child(3) { font-size: 10px; line-height: 10px; margin-bottom: 16px; } 
main .footer p:last-child { font-size: 10px; line-height: 10px; } 
 }