main { width: 1440px; position: relative; } 

/* About */
main .background { position: relative; height: 892px; } 
main .background img { object-fit: fill; opacity: 0.15; width: 1440px; height: 800px; margin-top: 92px; } 
main .background .title { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 76px; font-weight: 900; text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); line-height: 90px; text-align: center; width: 1440px; } 
main .background .title span:first-child { color: #A9A9A9; } 

.fade-in-out { animation: fadeInOut 5s ease-in-out infinite; } 

@keyframes fadeInOut { 
 0% { opacity: 0; } 
 25% { opacity: 1; } 
 75% { opacity: 1; } 
 100% { opacity: 0; } 
 }

main .scroll-down { display: flex; align-items: center; flex-direction: column; padding: 48px 0 144px 0; } 
main .scroll-down p { margin-bottom: 16px; font-weight: 300; } 
main .profile { height: 612px; padding: 0 136px 160px 92px; display: flex; justify-content: space-between; } 
main .left-side { width: 500px; padding-top: 52px; position: relative; } 
main .left-side p { position: relative; z-index: 200; } 
main .left-side p:first-child { font-size: 24px; line-height: 32px; color: #c8c8c8; } 
main .left-side p:nth-child(2) { font-size: 76px; line-height: 84px; margin: 20px 0 40px; } 
main .left-side span { font-weight: 700; } 
main .left-side p:last-child { font-size: 20px; line-height: 28px; white-space: pre-line; } 
main .left-side::after { position: absolute; content: ''; width: 400px; height: 400px; left: -92px; bottom: -30px; background: linear-gradient(180deg, #180C96 0%, #D21010 0%, #A90EAB 0.01%, rgba(24, 12, 150, 0.989682) 0.02%, rgba(74, 11, 157, 0.757877) 29.17%, rgba(169, 14, 171, 0.551652) 56.25%, rgba(180, 117, 172, 0.257781) 83.33%, rgba(255, 255, 255, 0) 100%); filter: blur(40px); border-radius: 50%; } 
main .right-side { width: 505px; position: relative; } 
main .right-side span { position: absolute; font-size: 32px; opacity: 0.3; font-family: 'Russo One'; line-height: 32px; } 
main .right-side .str1 { top: 35px; left: -19px; } 
main .right-side .str2 { top: 132px; left: -149px; } 
main .right-side .str3 { top: 35px; right: 48px; } 
main .right-side .str4 { top: 132px; right: -29px; } 
main .right-side .cv-box { position: absolute; left: 168px; bottom: 172px; width: 160px; height: 72px; background-color: rgba(0, 0, 0, 0.44); border-radius: 500px; display: flex; align-items: center; justify-content: center; cursor: pointer; } 
main .right-side .cv-box:hover { box-shadow: inset 0px 8px 4px rgba(0, 0, 0, 0.25); } 
main .right-side .cv-box span { position: unset; opacity: unset; font-size: 28px; margin-right: 8px; } 
main .about { background-color: white; padding: 64px 92px 92px; } 
main .about p { color: #333; } 
main .about .title { font-size: 32px; margin-bottom: 48px; line-height: 32px; } 
main .about .sub-title { margin-bottom: 40px; position: relative; display: flex; align-items: center; justify-content: space-between; } 
main .about .sub-title::after { position: absolute; content: ''; width: 100%; height: 1px; background-color: #dadada; bottom: -16px; left: 0; } 
main .about .sub-title p { font-size: 24px; font-weight: 700; line-height: 24px; } 
main .about .sub-title a { color: #737373; } 
main .about .sub-title a:hover { color: #545454; } 
main .link-box-group { display: flex; justify-content: space-between; flex-wrap: wrap; } 
main .work-exp-group { margin-left: 26px; padding-left: 24px; position: relative; border-left: 1px dashed #d5d5d5; } 

.link-box { width: 260px; display: flex; align-items: center; margin-bottom: 24px; } 
.link-box figure { margin: 0 12px 0 0; display: flex; align-items: center; justify-content: center; } 
.link-box span { color: #333; font-weight: 700; } 
.link-box .no-bold { font-weight: unset; margin-left: 4px; } 
.link-box a { margin-left: 8px; height: 16px; } 

.work-edu-box:not(:first-child) { margin-top: 52px; } 
.work-edu-box .date-line { display: flex; align-items: center; } 
.work-edu-box .date-line .tooltip { height: 14px; margin-left: 8px; position: relative; } 
.work-edu-box .date-line .tooltip:hover .tooltip-desc { visibility: visible; } 
.work-edu-box .date-line .tooltip .tooltip-desc::before { position: absolute; content: ''; width: 0; height: 0; left: -6px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 7px solid #818181; } 
.work-edu-box .date-line .tooltip .tooltip-desc { position: absolute; top: -8px; left: 28px; display: flex; align-items: center; justify-content: center; background-color: #818181; border-radius: 5px; visibility: hidden; } 
.work-edu-box .date-line .tooltip .tooltip-container { padding: 8px; padding: 8px; white-space: nowrap; } 
.work-edu-box .date-line .tooltip .tooltip-desc p { font-size: 12px; color: white; } 
.work-edu-box .name { font-size: 20px; line-height: 24px; margin: 16px 0 12px; font-weight: 700; position: relative; display: flex; align-items: center; } 
.work-edu-box .name::before { position: absolute; content: ''; width: 16px; height: 16px; background-color: #710bf2; border-radius: 50%; left: -32px; top: 5px; } 
.work-edu-box a { margin-left: 8px; display: flex; align-items: center; } 
.work-edu-box .description { line-height: 28px; white-space: pre-line; } 

main .skill { padding: 64px 92px 92px; } 
main .skill .title { font-size: 32px; margin-bottom: 48px; line-height: 32px; } 
main .skill .sub-title { font-size: 24px; font-weight: 700; margin-bottom: 40px; position: relative; line-height: 24px; display: flex; align-items: center; } 
main .skill .sub-title::after { position: absolute; content: ''; width: 100%; height: 1px; background-color: #3d3d3d; bottom: -16px; left: 0; } 
main .skill .sub-title span { margin-right: 8px; } 
main .skill .skill-group { display: flex; align-items: center; justify-content: space-between; } 

.skill-box { background: rgba(41, 41, 41, 0.8); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; width: 120px; display: flex; align-items: center; flex-direction: column; padding: 24px 0; } 
.skill-box:hover { background: rgba(51, 103, 181, 0.8); box-shadow: inset 0px 16px 16px rgba(0, 0, 0, 0.25); } 
.skill-box p { font-weight: 700; line-height: 20px; margin-top: 16px; } 

main .project { padding: 64px 92px 44px; background-color: #eee; } 
main .project p { color: #333; } 
main .project .title { font-size: 32px; margin-bottom: 24px; line-height: 32px; } 
main .project .description { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #d1d1d1; padding-bottom: 16px; margin-bottom: 48px; } 
main .project a { color: #737373; } 
main .project a:hover { color: #545454; } 

.project-box { padding: 8px 32px 8px 16px; border: 1px solid #c3c3c3; border-radius: 10px; background-color: white; display: flex; margin-bottom: 48px; } 
.project-box .thumbnail-container { display: flex; align-items: center; } 
.project-box .thumbnail { margin-right: 44px; } 
.project-box .content { padding-top: 20px; } 
.project-box .content .title { font-size: 20px; line-height: 32px; margin-bottom: 12px; font-weight: 700; } 
.project-box .content .label-line { display: flex; align-items: center; margin-bottom: 20px; } 
.project-box .content .label-line .label { padding: 4px 12px; border-radius: 5px; background-color: #6a6a6a; margin-right: 12px; } 
.project-box .content .label-line .label p { font-size: 12px; font-weight: 700; color: white; } 
.project-box .content .main-cont { line-height: 20px; margin-bottom: 16px; } 
.project-box .content .main-cont span { font-weight: 700; } 
.project-box .content .cont-desc { line-height: 24px; padding-bottom: 20px; } 

main .footer { text-align: center; padding: 112px 0 92px; } 
main .footer p:first-child { font-size: 20px; line-height: 28px; margin-bottom: 36px; } 
main .footer p:first-child a { font-weight: 700; color: #f87070; cursor: pointer; } 
main .footer p:first-child a:hover { color: #ee5555; } 
main .footer p:nth-child(2) { font-size: 24px; line-height: 28px; font-weight: 700; margin-bottom: 88px; } 
main .footer p:nth-child(3) { line-height: 24px; margin-bottom: 24px; color: #c5c5c5; } 
main .footer p:last-child { line-height: 24px; } 

/* Snapshot */
main .snapshot-container { margin-top: 92px; padding: 76px 0 92px; display: flex; flex-direction: column; align-items: center; } 
main .snapshot-container .intro-box { border-top: 1px solid #3e3e3e; border-bottom: 1px solid #3e3e3e; width: 600px; padding: 60px 0; display: flex; align-items: center; flex-direction: column; } 
main .snapshot-container .intro-box p { font-size: 20px; line-height: 20px; } 
main .snapshot-container .intro-box p:first-child { margin-bottom: 48px; } 
main .snapshot-container .intro-box p:last-child { font-weight: 700; } 
main .snapshot-container .category { padding: 64px 92px 44px; margin-top: 112px; background-color: white; display: flex; flex-direction: column; align-items: center; } 
main .snapshot-container .category p { color: #333333; width: 100%; text-align: center; } 
main .snapshot-container .category .title { font-size: 28px; margin-bottom: 48px; line-height: 28px; } 
main .snapshot-container .item-group { display: flex; flex-wrap: wrap; justify-content: space-between; } 
main .snapshot-container .snapshot-footer { text-align: center; padding-top: 92px; width: 100%; } 
main .snapshot-container .snapshot-footer p { line-height: 24px; } 
main .snapshot-container .snapshot-footer p:first-child { color: #c5c5c5; margin-bottom: 24px; } 

.category-item-box { position: relative; width: 280px; border-radius: 20px; margin-bottom: 48px; display: flex; align-items: center; flex-direction: column; padding: 56px 0 48px; background-color: #f2f2f2; } 
.category-item-box.active:hover { background: rgba(226, 226, 226, 0.8); box-shadow: inset 0px 8px 4px rgba(0, 0, 0, 0.25); } 
.category-item-box p { font-size: 18px; line-height: 24px; margin-top: 32px; font-weight: 700; } 
.blank-category-item-box { width: 280px; height: 220px; } 
.not-ready { position: absolute; width: 280px; height: 32px; border-radius: 0 0 20px 20px; bottom: 0; background-color: rgba(86, 123, 255, 0.6); display: flex; align-items: center; justify-content: center; } 
.not-ready span { font-size: 12px; font-weight: 700; color: white; } 

/* Timeline */
main .timeline-container { height: calc(100vh - 92px); margin-top: 92px; display: flex; align-items: center; justify-content: center; } 
main .timeline-container p { font-size: 18px; } 